#root {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.drop-down {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 100;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.submission {
  margin: 20px auto;
  width: 50%;
  text-align: center;
}

/* Set up grid display for lift boxes */
.lifts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between lift boxes as needed */
}

.lift-box {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

.lift-info {
  margin-bottom: 10px;
}

.lift-newlog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

/* Style the form elements */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
  padding: 5px;
  margin-bottom: 5px;
}

/* .btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.btn:hover {
  background-color: #0056b3;
}

.lift-info p {
  margin: 0;
}

.lift-info span {
  font-weight: bold;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
